[submodule "lib/ShortDev.Android.Preferences"]
	path = lib/ShortDev.Android.Preferences
	url = https://github.com/ShortDevelopment/ShortDev.Android.Preferences
[submodule "lib/ShortDev.Android"]
	path = lib/ShortDev.Android
	url = https://github.com/ShortDevelopment/ShortDev.Android
